.country {
    border: solid 1px blue;
    width: 30%;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    background-color: azure;
}

img {
    max-width: 50%;
    max-height: 50%;
}